*.sif
*.img
*.png
*.log
*.pid
*.sqlite
*.db
*.env
*.rdb
*.xlsx
*.pytest_cache
*.ipynb
*.json

.vscode
.DS_Store

__pycache__
__pypackages__

app/dev.env
data
milvus-data
etcd-data
HPC_scripts/HF_key.env
.venv
